<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Bye {{name}}!</h2>
    <p>Well, this is awkward... I thought we had a good thing.</p>

    <p>We’re sorry to see you go 💔</p>

    <p>
      Your Maktaba account has been successfully deleted. If this wasn’t
      intentional, you have 7 days to contact us and we can restore your
      account.
    </p>

    <p>
      If there’s anything we could’ve done better, reply to this
      email—we’re always trying to improve Maktaba.
    </p>

    <p>
      Cheers,<br />
      Maktaba Team.
    </p>
  </body>
</html>
