{% extends 'base.html' %}

{% block title %} verify email {% endblock %}

{% block body %}

    <h2>Hi {{name}},</h2>
    <p>
      Thanks for creating a Maktaba account! Before we continue, we just need to
      verify your email address.
    </p>

    <p>Please click the link below:</p>

    <centre>
      <button><a href="{{verifyLink}}"> Verify Email </a></button>
    </centre>

    <p>
      If you didn’t create a Maktaba account, feel free to ignore this message.
    </p>

    <p>
      Cheers,<br />
      Maktaba Team.
    </p>

{% endblock %}
