{% extends 'base.html' %}

{% block title %} welcome email {% endblock %}

{% block body %}

    <h2>Welcome to Maktaba {{name}},</h2>
    <p>We're excited to have you on board!</p>

    <p>
      Your account is now ready. You can log in anytime and start using Maktaba
      right away. If you ever need help, reply directly to this email — we
      actually read these
    </p>
    <p>
      But we are not done yet, you will receive an email shortly on {{email}} to
      verify your account
    </p>
    <p>See you inside</p>
    <p>
      Cheers,<br />
      Maktaba Team.
    </p>

{% endblock %}
