<!--start svg sprite-->

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <!--email-->
  <symbol id="email" viewBox="0 0 24 24" fill="none" stroke="#bbb" stroke-width="1.5">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
    />
  </symbol>

  <!-- hide password-->
  <symbol id="hide-password" viewbox="0 0 24 24" fill="none" stroke="#bbb" stroke-width="1.5">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
    />
  </symbol>

  <!--show password-->
  <symbol id="show-password" viewbox="0 0 24 24" fill="none" stroke="#bbb" stroke-width="1.5">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
    />
    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
  </symbol>
</svg>
<!--end svg sprite-->

<div class="min-h-screen flex fle-col items-center justify-center">
  <div class="py-10 px-4">
    <div class="grid lg:grid-cols-2 items-center gap-5 max-w-6xl w-full">
      <div
        class="border border-slate-300 rounded-lg p-6 max-w-lg shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] max-lg:mx-auto"
      >
        <!--login title-->
        <div class="mb-12">
          <h2
            class="text-2xl font-bold bg-gradient-to-r from-blue-600 to-purple-600 bg-clip-text text-transparent"
          >
            Forgot Password?
          </h2>
          <p class="text-slate-600 text-md mt-3 leading-relaxed">
            Easily reset your password here
          </p>
        </div>
        <!--end login title-->

        <!--start form-->
        <form class="space-y-6">
          <!--email-->
          <div>
            <label class="text-slate-900 text-base font-medium mb-2 block">Email</label>
            <div class="relative flex items-center">
              <input
                name="email"
                type="text"
                required
                class="w-full text-sm text-slate-600 font-medium border border-slate-300 pl-4 pr-10 py-3 rounded-lg outline-blue-600"
                placeholder="Enter email"
              />

              <svg class="w-[27px] h-[22px] absolute right-4">
                <use xlink:href="#email"></use>
              </svg>
            </div>
          </div>
          <!--end email-->

          <div class="!mt-12">
            <button
              class="hidden md:block w-full py-2.5 px-4 bg-gradient-to-r from-blue-600 to-purple-600 text-white px-6 py-2 rounded-full text-lg font-bold hover:from-blue-700 hover:to-purple-700 shadow-lg hover:shadow-xl"
            >
              Reset password
            </button>

            <p class="text-sm !mt-6 text-center text-slate-600 italic">
              Remember your password?
              <a
                href="javascript:void(0);"
                class="text-blue-600 font-medium hover:underline ml-1 whitespace-nowrap"
                >Login here</a
              >
            </p>
          </div>
        </form>
        <!--end form-->
      </div>

      <div class="max-lg:mt-8">
        <img
          src="https://readymadeui.com/login-image.webp"
          class="w-full aspect-[71/50] max-lg:w-4/5 mx-auto block object-cover"
          alt="login img"
        />
      </div>
    </div>
  </div>
</div>
